.bar-color{
    background-color: #222;
}
body{
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #efefef;*/
    background-image: url("/images/Bg2.png");
}
.bar-color{
    color: #77F;
}
.main{
    margin: 40px 200px;
    background-color: white;
    box-shadow: 6px 6px 10px gray;
    border-radius: 4px;
    min-height: 700px;
    /*margin: 20px;*/
}
.one-day-text{
    font-size: 15px;
}
.logo {
    font-size: 25px;
    font-style: italic;
    /*text-shadow: grey 10px 10px 4px;*/
}

.logo:hover {
    text-decoration: none;
}
.login-body{
    /*background-image: url("/images/Background_3.png");*/
    background-image: url("http://peppermint.oss-cn-beijing.aliyuncs.com/image/jpeg/20200318/Background_3.jpg");
}
.login-main {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.login-page {
    width: 714px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    opacity: 0.8;
}
.login-page-main {
    padding: 50px;
    height: 420px
}
.login-left {
    height: 100%;
    border-right: 1px solid #D2D2D2;
    /*background-color: #eee;*/
}
.login-right {
    height: 100%;
    /*background-color: #eee;*/
}
.login-logo {
    display: flex;
}
.login-form {
    margin-top: 15px;
}
.login-other-all {
    padding: 40px 24px;
}
.login-other {
    display: block;
    height: 40px;
}
.login-icon {
    width: 20px;
    height: 20px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}
.media-body{
    padding-top: 10px;
}
.index-tag{
    margin-bottom: 5px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
}
.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.question-picture{
    width: 100%;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tab .label-info{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.jumbotron{
    margin: 50px;
}

.comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}

.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon :hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.footer{
    padding-bottom: 10px;
    color: #666;
}