<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peppermint</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"  type="application/javascript"></script>
</head>
<body>

<div th:insert="navigation :: nav"></div>

<div class="container-fluid main">
    <table class="table table-bordered" style="margin: 10px 0px">
        <tr >
            <td class="info text-center">文件列表</td>
            <td class="info text-center">文件详情</td>
            <td class="info text-center">下载次数</td>
            <td class="warning"></td>
        </tr>
        <tr class="text-center">
            <td class="info">背景图</td>
            <td class="info">1</td>
            <td class="info">2</td>
            <td class="warning text-center"><a download="logo" href="http://peppermint.oss-cn-beijing.aliyuncs.com/image/jpeg/20200318/078a94f69ff840f8a681f8ba4b437f1a.jpg">点我下载</a></td>
        </tr>
        <tr class="text-center">
            <td class="info">Navicat(win64)</td>
            <td class="info">数据库工具</td>
            <td class="info">*</td>
            <td class="warning text-center"><a download="navicat" href="http://peppermint.oss-cn-beijing.aliyuncs.com/image/jpeg/20200318/078a94f69ff840f8a681f8ba4b437f1a.jpg">点我下载</a></td>
        </tr>


    </table>
</div>

<p class="text-center"><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>



<div th:replace="notice::modal"></div>

<div th:insert="footer :: foot"></div>

</body>
</html>